.root {
    -fx-font-size: 20pt;
    -fx-background-color: #38ada9;
}

.button {
    -fx-background-radius: 10px;

}

.list-view .list-cell {
    -fx-font-size: 10pt;
}


.label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}